### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

### macOS ###
*.DS_Store

# File names #
Word_Count/Scripts/__pycache__/
Top_K/Scripts/__pycache__/
Inverted_Index/Scripts/__pycache__/
